@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
  margin: 0;
  padding: 0;
  font-size: 80%;
  font-family: 'Nanum Gothic';
  /* background: linear-gradient(#aaa, #fff); */
  background: #ccc;
  background-size: 100vw 100vh;

  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header, section {
  margin: 0;
  padding: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0;
  z-index: 1;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/img/pattern.png');
  background-size: 100px;
  z-index: 1;
}

#loading h1 {
  display: block;
  font-family: 'Nanum Brush Script', '맑은 고딕', '고딕', Arial;
  font-size: 7em;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 1em 0 0.5em 0;
  text-align: center;
  text-shadow: 0 0 0.3em #111;
}

#loading p {
  display: block;
  font-size: 2em;
  color: white;
  text-align: center;
}